body {
    background-color:darkred;
}
body.modo-vip {
    background-color:rgb(62, 4, 95);
    width: auto;
}

header {
    background-color: aliceblue;
    width: auto;
    text-align: center;
    border-style: groove;
}

body.modo-vip header {
    background-color: darkgoldenrod;
    width: auto;
    text-align: center;
    border-style: groove;
}

header button{
    margin-bottom: 20px;
    cursor: pointer;
    border-color: black;
    border-radius: 16%;
}

body.modo-vip header button{
    margin-bottom: 20px;
    cursor: pointer;
    background-color: black;
    color: azure;
    border-color: black;
    border-radius: 16%;
}

.intro {
    margin-top: 16px;
    color: aliceblue;
    border-style:double;
    background-color: black;
    text-align: center;
}

body.modo-vip .intro {
    margin-top: 16px;
    color: darkred;
    border-style:double;
    background-color:azure;
    text-align: center;
}

.benefits{
    margin-top: 16px;
    color: aliceblue;
    border-style:double;
    background-color: black;
    text-align: center;
}

.vip-benefits {
    display: none;
}

body.modo-vip .benefits{
    display: none;
    margin-top: 16px;
    color: darkred;
    border-style:double;
    background-color: azure;
    text-align: center;
}

body.modo-vip .vip-benefits {
    display: block;
    margin-top: 16px;
    color: rgb(255, 183, 0);
    border-style:double;
    background-color: azure;
    text-align: center;
}

/* 
div.modo-vip{
    margin-top: 16px;
    color: black;
    border-style:double;
    background-color: darkred;
    text-align: center;
} */